@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
.btn{
    font-family: 'Raleway', sans-serif;
}
:root{
    --success:#81D25A;
    --danger:rgb(221, 60, 93)
}
.product-card__offer-stamp *{font-size:12px;}
.product-card__offer-stamp i{display:none;}
.product-card__offer-stamp{
    font-size: 12px;
    height: 24px;
    min-width: unset;
    line-height: 23px;
    padding: 0 .5rem;
    border-radius: 5px!important;
    right:5px;
    top:5px;
}
main #search-input{
    border: 0;
    border-bottom: 1px solid #666;
    font-size: 16px;
    padding-left: 0;
    padding: 0;
    line-height: 12px;
    height: 36px;
}
.header__search-btn{padding-right:0;}

.header__nav--full{
    display: flex;
    justify-content: center;
    margin-left:-15px;
    margin-right:-15px;
}
.header__nav--full a{
    font-weight:normal;
    font-size:12px;
    margin-top:1rem;
    padding:0 2rem;
}

.header__toggler{
    padding-left: 0;
    border: 0;
    margin-left: -4px;
}

.menu__footer{display:none;}

.header__buttons .btn .badge{
    height: 16px;
    width: 16px;
    font-size: 10px;
    border-radius: 50%;
    top: auto;
    right: 0;
    background: #dd3c5d!important;
}

.products-carousel__title a, .products-carousel__title span{
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size:2rem;
}
.products-carousel__title:before{display:none;}

.glide__arrows--outer .glide__arrow--left,
.glide__arrows--outer .glide__arrow--right{font-size:1.5rem;    color: #dd3c5d;opacity:1}
.products-carousel{padding:0}

.product-card__buy button,
.product__buy button span{
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.product__buy button{padding-left:3rem;padding-right:3rem;width:270px;}
.product-card__buy button i,
.product__buy span i{display:none}
.product__discount{
    background: var(--success);
    color: #fff;
    display: block;
    width: fit-content;
    margin: 1rem 0;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 15px;
}
#mc_embed_signup{background:#000;}
#mc_embed_signup form{max-width:80rem;margin:0rem auto;display:block;padding:2rem 0;display:block;}
#mc_embed_signup label{
    text-transform:lowercase;
    color:#fff;
}
#mc_embed_signup label b{display:block;font-size:1.5rem;}
#mc_embed_signup input[type="email"]{
    height: 40px;
    border-radius: 3px;
    border: 0;
    outline: none;
    padding: 0 1rem;
    min-width: 350px;
}
#mc_embed_signup input[type="submit"]{
    background: #dd3c5d;
    color: #fff;
    border: 0;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-weight: bold;
    height: 40px;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 3px;
}
.mc-field-group{
    display:flex;
    justify-content: center;
    align-items: center;
}
.mc-field-group > *{margin:0 1rem;}

main .footer{
    border:0;
    background:#f8f8f8
}

.footer__title{
    text-transform:lowercase;
    font-weight:bold;
    letter-spacing:2px;
}
.footer p,
.footer__links a,
.footer__list-icon i,
.footer__contacts a{
    font-size: 14px;
    line-height: 26px;
    color:var(--gray);
}
.pay-icon{background-color:#fff;border-radius:3px;}

.justify-content-center{justify-content:center;}
.justify-content-between{justify-content:space-between;}
.align-items-center{align-items:center}
body > iframe{display:none;}
.credits{font-size:13px;}
.ecom-credits{background:transparent;padding:1rem 0;}

.apx_testimonial-item{padding-top:0;}

//testimonials
.apx_testimonial-item{color:#000;padding:3rem;}
.apx_testimonial-item p,
.apx_testimonial-item strong{font-size:13px;text-align:center;display:block;}
.apx_testimonial-item .icon{width:100%;}
.apx_testimonial-item .icon > img{max-width:100%;width:100px;height:100px;border-radius:50%;margin:0 auto 1rem auto;display:block;}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: calc(80rem + 30px);
    }
}

.menu__item:hover{
    background:#000;
    color:#fff;
}

/* CHECKOUT */
.app .checkout__info{
    background: transparent;
    border: 0;
}
.app .checkout__summary,
#cart .cart__info{
    padding: 2rem;
    margin: 0;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: .6rem;
    height: auto;
    position: sticky;
    top: 15px;
    background:transparent
}
.checkout__summary .summary__title,
.checkout__app .summary__buyer h5,
#cart .cart__info [for="shipping-calculator-zip"]{
    font-weight:600;
}
.checkout__app .summary__buyer p,
.checkout__app .summary__buyer p *{font-size:12px}
.checkout__app .summary__buyer p small{font-weight:600;}
.checkout__summary .summary__list .summary__item > div{font-size:11px;}
.checkout__summary .summary__list .summary__item > div > a{margin-top:5px;display:block;}
.checkout__summary .summary__list .summary__item > div > a,
.checkout__summary .summary__list .summary__item > div > a > small{font-size:12px;font-weight:600;}
.checkout__summary .summary__list .summary__item > div > .badge{font-size:11px;background:transparent;color:var(--body-color);padding:0;font-weight:normal;margin-right:10px;}
.checkout__summary .summary__list .summary__item > div > .badge:after{content:"x";}
.checkout__summary .summary__amount > .summary__amount__row{
    font-size: 14px;
    border-bottom: 1px solid #ececec;
    padding: 5px 0 10px 0;
}
#checkout .checkout .form-control{
    border: .1rem solid #e1e1e1;
    padding: 1.2rem;
    border-radius: .3rem;
    font-size: .8rem;
}
#checkout .checkout .form-control + .input-group-append{
    border-radius: 0 .3rem .3rem 0;
}
#checkout .checkout .form-row > .form-group{
    width: 100%;
    min-width: 100%;
}
#checkout .checkout .form-group label{
    font-size: .8rem;
    font-weight: 500;
}
#checkout .checkout .input-group .btn{
    line-height: normal;
    font-size: .8rem;
    border-radius: .3rem;
    margin-left:1rem;
}
#spa #storefront-app h1:before{display:none;}
#spa #storefront-app h1{}

#checkout .checkout .login{max-width:100%; width:550px;}

#checkout .checkout .login .h4,
#checkout .checkout .checkout__account > p.lead{
    font-size: 1rem;
    margin-bottom: 1rem;
}
#checkout .checkout .checkout__account > p.lead{
    border-bottom: 2px solid var(--body-color);
    padding-bottom: 1rem;
}
#checkout .checkout .checkout__account > p.lead + form{
    padding:1rem;    
}
#checkout .checkout .login__confirm{
    background: #f8f9fa;
    margin: 2rem 0rem!important;
    padding: 2rem;
    max-width: unset;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: .6rem;
}
#checkout .checkout .login__confirm .lead{font-size:.8rem;margin-bottom:1rem;}
#checkout .checkout .login__oauth{margin-top:3rem;}
#checkout .checkout .login__oauth .lead{font-size:1rem;}
#checkout .checkout .login__info{display:none;}
.app__footer{display:none}
.app__header{
    background: transparent;
    box-shadow: unset;
}
.app footer,
.app__credits{background:transparent}
.app__credits *{
    color:var(--body-color);
    font-size:12px;
}
.app__header{
    border-bottom: solid .1rem #e1e1e1;
}
.app footer{
    border-top: solid .1rem #e1e1e1;
}
.app .ecom-credits a{font-size:0;}

.app .checkout__back > a,
.checkout__app .summary__buyer button,
.checkout__account button,
.checkout .account-addresses button[type="submit"],
.checkout .checkout__btn-proceed,
.checkout .account-addresses__card + .btn-outline-secondary,
.discount-applier .discount-applier__coupon-btn,
.checkout .payment .payment__method > form > button.btn-success,
.checkout .payment .payment__method > button,
.cart__info > .btn{
    width: 100%;
    text-align: center;
    border-radius: 0.3rem;
    text-transform: uppercase;
    line-height: 2rem;
}
.checkout .checkout__btn-proceed{margin-top:1rem;}
.checkout .checkout__btn-proceed i,
.checkout .account-addresses button[type="submit"] i{display:none}
.app__header .app__contact,
.app__header .app__safe{font-size:12px;}

.checkout__app .checkout__steps{
    max-width: 80%;
    margin: 0 auto 2rem auto;
}
.checkout__app .checkout__steps .checkout__step{
    border-bottom:3px solid var(--body-color);
    text-transform:initial;
    padding:1rem;
    font-weight:600;
    position:relative;
}
.checkout__app .checkout__steps .checkout__step .fa-arrow-left{display:none}
.checkout__app .checkout__steps .checkout__step:before{
    content: "";
    height: 16px;
    width: 16px;
    position: absolute;
    background: var(--body-color);
    border-radius: 50%;
    left: calc(50% - 8px);
    bottom: -9px;
}
.checkout__app .checkout__steps .checkout__step *{color:var(--body-color);opacity:1;}
.checkout__app .checkout__steps .checkout__step small{display:none}
.checkout__app .checkout__steps .checkout__step--past,
.checkout__app .checkout__steps .checkout__step--current{color:var(--body-color)}
.checkout__app .checkout__steps .checkout__step--disabled:before{background: #e1e1e1;}
.checkout__app .checkout__steps .checkout__step--disabled{border-color:#e1e1e1}

.checkout .payment .list-group > a{
    margin-bottom: 1rem;
    border-radius: .3rem;
    border: 1px solid #e1e1e1;
    padding: 1.5rem;
}
.checkout .payment .list-group > a .payment__head{
    margin: -1.5rem -1.5rem 1rem -1.5rem;
    padding: 1rem 1.5rem;
    border-radius: .3rem .3rem 0 0;
}
.checkout .payment .list-group > a:hover .payment__head{
    background: var(--body-color);
    color: var(--body-bg);
}

.checkout .payment .payment__method{
    border: 0;
    border-radius: .3rem;
    background:#f9f9f9
}

.list-group-item.active{
    color: var(--body-color);
    background-color: #f9f9f9;
    border:0;
}

.cart .cart__list{}
.cart .cart__list .cart-item:first-child{border-top:0}
.cart .cart__list .cart-item{
    border-bottom:1px solid #e1e1e1;
    padding:1rem 0;
    margin:0;
}
.cart .cart__list .cart-item__name,
.cart .cart__list .cart-item__name a{
    font-size:1rem;
    font-weight:600;
    text-decoration:none;
}
.cart .cart__list .cart-item__quantity{}
.cart .cart__list .cart-item__prices{font-weight:600}
.cart .cart__list .cart-item__prices .cart-item__price-un{}

.app__header{
    
    padding: .5rem 0;
    border-bottom:0;
}
.app__contact,
.app__contact span:not(:first-child),
.app__header .app__contact, .app__header .app__safe,
.app__safe-icon{color:#000;}
.app__contact span:not(:last-child){margin-right:5px;}

.app__header .app__contact, .app__header .app__safe {
    font-size: 14px;
    line-height: 32px;
}

#whatsapp-button{
    background: #00a82d;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 36px;
    padding: 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
#whatsapp-button i{color:#fff}
body,
html{overflow-x:hidden;}

.h1, h1{font-size:1.8rem}
@media(max-width:990px){
    .header__toggler i{color:#000}
    .header__toggler{
        margin: 3px 0 0 5px;
    }
    .products-carousel__title a, .products-carousel__title span{font-size:1.5rem;}
    .products-carousel{max-width:80%;}
    .products-carousel .glide__arrows--outer .glide__arrow--left{left:-40px;}
    .products-carousel .glide__arrows--outer .glide__arrow--right{right:-40px;}
    .footer__title[aria-expanded]{border:0}
    .collapse:not(.show){display:block;}
    .footer__title[aria-expanded=false]:after{display:none;}
    main .footer{padding:2rem 1.5rem;}

    .mc-field-group{display:block;text-align:center;}
    .mc-field-group > *{margin:.5rem 0;;max-width:100%;min-width:unset!important;width:100%;}
    #mc_embed_signup form{padding:1rem 2rem 1.5rem 2rem;}

    .credits{text-align:center;padding-top:1rem;display:block;}
    main #search-input{border:0;background:transparent;font-size: 12px;}
    .header__search{
        background: #f8f8f8;
    margin: 0 -10px 5px -10px;
    padding: 0 10px;
    border-radius: 3px;
    
    }
    .header__search-btn{
        padding: 0 4px 5px 0;
    }


}
.mb-3 .share,
.login__oauth,
.product__payment.card,
.prices__compare small,
.app__contact{display:none;}

.prices--big .prices__value{
    color: #dd3c5d;
    margin: .5rem 0;
}

#product-description .html-clearfix table td,
.specification__row{padding:10px 15px!important;background-color:#f8f8f8!important;}
#product-description .container {
    border: 1px solid #ccc;
    padding-right: 0;
    padding-left: 0;
}
#product-description .container .lead {
    background-color: #f8f8f8;
    border-color: #ccc;
    padding: 10px 15px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-size: 15px!important;
}
#product-description .container .html-clearfix {
    padding-left: 15px;
    padding-right: 15px;
    
}

.product__discount_counter{
    background: #dd3c5d;
    display: block;
    width: fit-content;
    padding: .6rem 1rem;
    color: #fff;
    flex-wrap: nowrap;
    font-size: 14px;
}
.product__discount_counter strong{
    display: flex;
    align-items: center;
}
.product__discount_counter strong div{font-size:2rem;margin-left:1rem;margin-top: -7px;}
.product__discount_counter strong div > span{
    margin: 0 5px;
    width: 36px;
    display: inline-block;
}
//tag frete grátis
.product-card:after {
    content: "FRETE GRÁTIS";
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: .25rem .5rem;
    background: #DD3C5D;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    border-radius: 5px;
}
// off e fundo tag offer
.product-card__offer-stamp {
  background: #00A82D;
    &:after {
        content: "OFF";
        font-weight: bold
    }
}

.footer__social a{font-size:1.5rem;}

.product-card .prices__installments:after{content:"sem juros";}
.prices__value{margin:5px 0;}

@media(max-width:767px){
    .product-card__offer-stamp{
        text-align: center;
        top: 0px;
        right: 0px;
        float: right;
        width: 40%;
        font-size: 10px;
        line-height: 20px;
        height: auto;
        padding-right: .1rem;;
        padding-left: .1rem;
    }
    .product-card:after{
        width: 50%;
        top: 0px;
        text-align: center;
        font-size: 10px!important;
        line-height: 21px;
        height: auto;
        padding: 0.01rem;
    }
    #whatsapp-button {
        bottom: 100px !important;
    }
}
[data-intermediator="paghiper"] .payment__intermediator{display:none;}
.checkout .payment .list-group>a[data-intermediator="paghiper"] .payment__head{margin:0;}
.checkout .payment .list-group>a[data-intermediator="paghiper"]{padding:0}

body {
    overflow: hidden
}

label[for="account-form-birth"], #account-form-birth {
  display: none;
}
